@media (max-width: 480px) {
    .navbar-nav {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centralizar os itens */
        width: 100%; /* Faz a navbar ocupar toda a largura */
    }  
  
    .nav-item {
        margin: 10px 0; /* Ajuste do espaçamento */
    }
  
    .navbar-nav .nav-item a {
        font-size: 14px;
        padding: 5px 0;
    }  
  }
  
  @media (max-width: 768px) {
  
    /* Narvar */
    .navbar-nav {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }  
    
    .nav-item {
        margin: 10px 0; 
    }
    
    .navbar-nav .nav-item a {
        font-size: 14px;
        padding: 5px 0;
    }  
    
    /*área de análise*/
    .free-analise {      
      padding: 20px;
    }
    
    .form-analise {
      margin: 0 auto;
      max-width: 70%;
    }
    
    
    .form-analise label, 
    .form-analise input, 
    .form-analise button,
    .form-analise input[type="email"] {
      width: 100%;
    }
  
    /* Area das imagens das marcas*/
    /* Por onde passamos*/
    .cases-marcas  {
      flex-direction: column;
    }
  
    /*Imagens Quem nos apoia e Por onde passamos*/
    .colum-marcas-1, .colum-marcas-2, .more-cases-marcas, .supports-us-marcas {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
    }
  
    /* "Entre em contato" em coluna em telas menores */
    .row {
      flex-direction: column;
    }
    .col-md-6 {
      max-width: 100%;
    }
    .mapa iframe {
      width: 100%;
      height: 300px;
    }
  
  }
    
  /* Ajuste para telas medias e grandes */
  
  @media (max-width: 769px) {
    /* Narvar */
    .navbar-nav {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }  
  
    .nav-item {
        margin: 10px 0; 
    }
  
    .navbar-nav .nav-item a {
        font-size: 14px;
        padding: 5px 0;
    } 
    
    /*área de análise*/
    .free-analise {
      display: flex;
      flex-direction: column;
      padding: 30px;  
    }
    
    .header-analise {
      margin-bottom: 20px;
    }
    
    .form-analise {
      max-width: 70%;
    }
    
    .form-analise input, 
    .form-analise button {
      width: 100%;
    }
  
  /* Tornar "Entre em contato" em coluna em telas menores */
  
  }
  
  /* Ajustes para telas maiores (comportamento padrão para telas grandes) */
  @media (min-width: 769px) {
    .cases-marcas {
      flex-direction: row;
      gap: 50px;
    }
    .supports-us .brand-logos {
      flex-direction: row;
      justify-content: space-between;
    }  
    .mapa iframe {
      max-width: 100%;
    }
  
    .navbar-nav {
      flex-direction: column; /* Alinha os itens verticalmente */
      align-items: center; /* Centraliza os itens */
      width: 100%; /* Faz a navbar ocupar toda a largura */
  }  
  
  .nav-item {
      margin: 10px 0; /* Ajuste do espaçamento */
  }
  
  .navbar-nav .nav-item a {
      font-size: 14px;
      padding: 5px 0;
  }  
  
  }
  
  