@media (max-width: 480px) {

        .navbar-nav {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
        }  

        .navbar-brand img {
            width: 65%;
            padding: 15px 0 0 30px;
        }
        
        .navbar-nav .nav-item a {
            text-align: center; 
            font-size: 14px;
            padding: 0;
        }        

    /* Decole Daus responsividade*/
    .decole-daus {
        flex-direction: column;
        align-items: center;
    }
    .decolar button {
        font-size: 12px;
        padding: 3px 10px;
    }
    .decole-daus {
        font-size: 16px;
    }
    /*Area de Analise responsividade*/

    .form-analise {
        display: inline;
    }

    .form-analise input[type="text"]{
        width: 410px;
    }

    /*Area dos cases*/
    .cases-marcas {
        flex-direction: column; 
        width: 100%;
    }

    /* Ajustando as logos na área de marcas */
    .brand-logos {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .brand-logos img {
        width: 40%; /* Diminui o tamanho das logos em telas menores */
        height: auto;
    }

}

/* Decole Daus responsividade*/

@media (max-width: 768px) {
    .decole-daus {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para telas menores que 576px */
@media (max-width: 576px) {
    .decolar button {
        font-size: 12px;
        padding: 3px 10px;
    }
    .decole-daus {
        font-size: 16px;
    }
}

