@media (max-width: 480px) {

    header {
        .navbar-nav {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }  

        .navbar-brand img {
            width: 65%;
            padding: 15px 0 0 30px;
        }
        
        .navbar-nav .nav-item a {
            text-align: center; 
            font-size: 14px;
            padding: 0;
        }        
    }

    /* Decole Daus responsividade*/
    .decole-daus {     
        flex-direction: column; /* Pra ficar empilhado */  
        width: 100%;         
    }  

    .img-decolar {
        display: flex;
        flex-wrap: wrap; /* Pra imagens se ajustem automaticamente ao tamanho da tela*/
        justify-content: center; /* Centraliza as logos */
    }

    .img-decolar img{        
        margin-top: 40px; /* dar um distancia */
        width: 90%;         
    }
 
    /*Area de Analise responsividade*/

    .form-analise {
        display: inline;
    }

    .form-analise input[type="text"]{
        width: 410px;
    }

    /*Area dos cases*/
    .cases-marcas {
        flex-direction: column; 
        width: 100%;
    }

    /* Ajustando as logos na área de marcas */
    .brand-logos {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .brand-logos img {
        width: 40%; /* Diminui o tamanho das logos em telas menores */
        height: auto;
    }

}